node_modules/
*.log
*.tgz

src/
test/
coverage/
docs/
gulpfile.js
tsconfig.json
.eslintrc
.prettierrc
typings.json
typings
dist/test
.idea
index.ts
.travis.yml
.nojekyll
.npmignore
commitlint.config.js
jest.config.js

// npm pack
@enigmatis/polaris-logs-*.tgz